@page "/"

<PageTitle>Cultour Books and more</PageTitle>

<h1>Culture, Art and Tours</h1>

 Welcome to Cultour. The place where you can obtein unique items and pay what you can afford it.

<SurveyPrompt Title="Ready to discover more?" />
